# Ignore datasets and containers
datasets/
containers/
*.simg

# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/
.ropeproject

# VSCode
.vscode

# gEdit temporal files
*~

# Python bytecode
*.pyc
*.egg-info/
dist/