
manifest {
  homePage = 'http://www.intogen.org'
  description = 'IntOGen 2019'
}

env {
    INTOGEN_VEP = "${INTOGEN_VEP}"
    INTOGEN_GENOME = "${INTOGEN_GENOME}"
    INTOGEN_RELEASE = "${INTOGEN_RELEASE}"
    INTOGEN_DATASETS = "${INTOGEN_HOME}/datasets/${INTOGEN_GENOME}_${INTOGEN_VEP}_${INTOGEN_RELEASE}"
    INTOGEN_CONTAINERS = "${INTOGEN_HOME}/containers/${INTOGEN_RELEASE}"
    INTOGEN_NXF = "true"
    BGDATA_LOCAL = env.INTOGEN_DATASETS + '/bgdata'
}

process {
    cpus = 1
    errorStrategy = 'ignore'
    conda = 'python=3.6 click numpy intervaltree bgparsers bgreference pyliftover'
}

profiles {
    slurm {
        includeConfig 'config/slurm.conf'
    }

    local {
        includeConfig 'config/local.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}


