/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    bbglab/intogen-plus Nextflow bbglab-HPC config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This profile it's adapted to slurm executor available in the bbglab HPC cluster
    and should only used in that environment.
----------------------------------------------------------------------------------------
*/

process {
    
    queue = 'bigrun'
    
    withName: 'OPENVAR' {
        cpus             = 28
        memory           = 120.GB
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/createpanels/samplepanels/createsamplepanelsintrons" },
            ]
        ]
    }

    withName: ProcessVariants {
        cpus = 1
        memory = 16.GB
    }
	// TODO set to 8GB and retry with more memory
    withName: ComputeProfile {
        cpus = 8
        memory = 24.GB
    }

    withName: OncodriveFML {
        cpus = 14
        memory = 60.GB
    }

    withName: OncodriveCLUSTL {
        cpus = 14
        memory = 60.GB
    }

    withName: dNdScv {
        memory = 18.GB
    }

	withName: SMRegions {
        cpus = 14
        memory = 60.GB
    }

    withName: MutPanning {
        cpus = 8
        memory = 60.GB
    }

    withName: HotMAPS {
        cpus = 14
        memory = { 70.GB * task.attempt }

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 2
    }

}

executor {
    name = 'slurm'
    queueSize = 50
}



singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false

        // Define the cacheDir for the singularity images
        singularity.cacheDir = params.containers
        singularity.libraryDir = params.containers
    }
